@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-border-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border-before::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px; 
  background: linear-gradient(45deg,#fdb12c,#ffffff,#EB8317,#ffffff);
  background-size: 300% 300%;
  animation: gradient-border-animation 3s ease infinite;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

.animate-scroll {
  display: flex;
  gap: 10px;
  width: calc(10%);
  animation: scroll 1s linear infinite; 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-classic {
    color: #EB8317;
  }
}

@layer base {
  :root {
    --background: 210 8% 95%;
    --foreground: 210 8% 5%;

    --card: 210 8% 95%;
    --card-foreground: 210 8% 5%;

    --popover: 210 8% 95%;
    --popover-foreground: 210 8% 5%;

    --primary: 209 70% 21%;
    --primary-foreground: 180 9% 98%;

    --secondary: 204 11% 91%;
    --secondary-foreground: 210 8% 5%;

    --muted: 210 9% 91%;
    --muted-foreground: 209 9% 45%;

    --accent: 204 11% 91%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 9% 87%;
    --input: 213 9% 81%;
    --ring: 209 36% 72%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 40 7% 8%;
    --foreground: 60 9% 98%;

    --card: 40 7% 8%;
    --card-foreground: 60 9% 98%;

    --popover: 40 7% 8%;
    --popover-foreground: 60 9% 98%;

    --primary: 38 99% 58%;
    --primary-foreground: 0 9% 2%;

    --secondary: 40 7% 16%;
    --secondary-foreground: 60 9% 98%;

    --muted: 36 8% 24%;
    --muted-foreground: 39 8% 49%;

    --accent: 39 73% 16%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 36 8% 12%;
    --input: 38 9% 18%;
    --ring: 38 99% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
    user-select: none;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* 1) 10375C blue
2) EB8317 orange
3) F4F6FF white
4) F3C623 yellow */